<section>
  <div class="container">
    <div class="filter">
      <h4>Buscar por pais &nbsp;&nbsp;</h4>
      <input type="text" class="search" [(ngModel)]="search" (keyup)="filter()">
    </div>
    <div class="card">
      <ng-container *ngIf="(data$ | async) as clima">
        <div class="card">
          <div class="card-header">
            <h1>
              {{ clima.name }}
            </h1>
            <hr />
          </div>
          <div class="card-body">
            <table>
              <tr>
                <th>Temperatura maxima : </th>
                <th>{{ (clima.main.temp_max - 273.15) | number }}°</th>
              </tr>
              <tr>
                <th>Temperatura minima : </th>
                <th>{{ (clima.main.temp_min - 273.15) | number }}°</th>
              </tr>
              <tr>
                <th>Presion : </th>
                <th>{{ (clima.main.pressure) | number }} hpa</th>
              </tr>
              <tr>
                <th> Humedad : </th>
                <th>{{ (clima.main.humidity) | number }} %</th>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>